@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$headFont: 'Montserrat',
sans-serif;
$textFont: 'Open Sans', sans-serif;
$smallFont: 14px;
$mediumFont: 24px;
$articleFont: 18px;
$nameFont: 16px;
$whiteColor: rgba(#fff,
0.9);
$darkColor: rgba(0,
0,
0,
0.87);
$secondColor: #303f9f;
$darkBackground: #bbb;
* {
  margin: 0;
  padding: 0;
}

.navigation a,
.carousel-caption,
.btn,
.header,
.caption,
.events,
.about {
  font-family: $headFont;
}

.text {
  font-family: $textFont;
  font-size: $smallFont;
  line-height: 21px;
  font-weight: 400;
}

.latest-posts .post-header {
  font-size: $smallFont;
}

.navigation a,
.navigation,
.carousel-caption {
  color: $whiteColor;
}

.header,
.banners .caption {
  color: $darkColor;
}

.latest-posts .header,
.subscribe-buttons .header,
.top-blogers h2.header {
  color: $secondColor;
}

.subscribe-buttons,
.latest-posts {
  background-color: $darkBackground;
}

.header {
  font-size: 24px;
  font-weight: 700;
}

.main-header {
  .navigation {
    position: fixed;
  }
  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .navigation,
  .carousel-caption {
    z-index: 10;
  }
}

.navigation {
  li {
    &>a {
      font-size: $smallFont;
      padding-left: 0;
      padding-right: 0;
      &:hover {
        background-color: transparent;
        color: #ddd;
      }
    }
    text-transform: uppercase;
  }
  .dropdown {
    margin-left: 20px;
    margin-right: 20px;
  }
  .icon a,
  .icon div {
    padding: 15px 10px;
  }
  .active {
    border-bottom: 2px solid #ff4081;
  }
  .navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.carousel-caption {
  .inscription {
    text-transform: uppercase;
    color: rgba(#fff, 0.5);
    font-size: 28px;
    font-weight: 400;
  }
  .main-header {
    color: $whiteColor;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 25px;
  }
  .author {
    width: 25%;
    margin: 25px auto 0;
  }
  address {
    margin: 10px 0;
  }
  .date-time,
  .comments-section {
    display: flex;
  }
  .comments-section {
    justify-content: space-between;
  }
  .date-time {
    justify-content: space-around;
    margin-bottom: 20px;
  }
}

.btn {
  font-size: $mediumFont;
  text-transform: uppercase;
}

.btn-oval {
  color: $whiteColor;
  background-color: $secondColor;
  border-radius: 25px 25px;
}

.credibility {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.subscribe-buttons {
  padding: 50px 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header {
    margin: 0 0 20px;
  }
  .caption {
    font-size: $mediumFont;
    margin-bottom: 20px;
  }
  a {
    margin-right: 20px;
  }
}

.top-blogers {
  h2.header {
    margin: 50px 0;
    text-align: center;
  }
  .bloger {
    display: flex;
  }
  .photo {
    margin: 0 20px 40px 0;
    width: 125px;
    height: 125px;
  }
  .header {
    margin: 0;
    margin-bottom: 15px;
    font-size: $nameFont;
  }
}

.latest-posts {
  .header {
    margin: 50px 0;
    text-align: center;
    font-size: $articleFont;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .post {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    width: 260px;
    height: 420px;
    margin-bottom: 50px;
  }
  .post-header {
    font-weight: 700;
    line-height: 24px;
    margin-top: 0;
  }
  .text-content {
    padding: 12px 21px 21px;
  }
  .line {
    width: 260px;
    height: 1px;
    background-color: #999;
  }
  .text {
    margin: 0;
  }
  .author {
    padding: 21px;
    display: flex;
    justify-content: space-between;
  }
  .photo {
    float: left;
    margin-right: 10px;
  }
  .name {
    float: right;
  }
  .show {
    align-self: flex-end;
  }
}