@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0; }

.navigation a,
.carousel-caption,
.btn,
.header,
.caption,
.events,
.about,
.latest-posts .name {
  font-family: "Montserrat", sans-serif; }

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400; }

.latest-posts .post-header,
.best-posts .post-header {
  font-size: 14px; }

.navigation a,
.navigation,
.carousel-caption {
  color: rgba(255, 255, 255, 0.9); }

.header,
.banners .caption,
.latest-posts .name {
  color: rgba(0, 0, 0, 0.87); }

.latest-posts .header,
.subscribe-buttons .header,
.top-blogers h2.header,
.best-posts .header {
  color: #303f9f; }

.subscribe-buttons,
.latest-posts,
.best-posts {
  background-color: #f5f5f5; }

.header {
  font-size: 24px;
  font-weight: 700; }

.main-header .navigation {
  position: fixed; }
.main-header .filter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; }
.main-header .navigation,
.main-header .carousel-caption {
  z-index: 10; }

.navigation li {
  text-transform: uppercase; }
  .navigation li > a {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0; }
    .navigation li > a:hover {
      background-color: transparent;
      color: #ddd; }
.navigation .dropdown {
  margin-left: 20px;
  margin-right: 20px; }
.navigation .icon a,
.navigation .icon div {
  padding: 15px 10px; }
.navigation .active {
  border-bottom: 2px solid #ff4081; }
.navigation .navbar-brand {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700; }

.carousel-caption .inscription {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 28px;
  font-weight: 400; }
.carousel-caption .main-header {
  color: rgba(255, 255, 255, 0.9);
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 25px; }
.carousel-caption .author {
  width: 25%;
  margin: 25px auto 0; }
.carousel-caption address {
  margin: 10px 0; }
.carousel-caption .date-time,
.carousel-caption .comments-section {
  display: flex; }
.carousel-caption .comments-section {
  justify-content: space-between; }
.carousel-caption .date-time {
  justify-content: space-around;
  margin-bottom: 20px; }

.btn {
  font-size: 24px;
  text-transform: uppercase; }

.btn-oval {
  color: rgba(255, 255, 255, 0.9);
  background-color: #303f9f;
  border-radius: 25px 25px; }

.credibility {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.subscribe-buttons {
  padding: 50px 0; }
  .subscribe-buttons .wrapper {
    display: flex;
    justify-content: space-between; }
  .subscribe-buttons .header {
    margin: 0 0 20px; }
  .subscribe-buttons .caption {
    font-size: 24px;
    margin-bottom: 20px; }
  .subscribe-buttons a {
    margin-right: 20px; }

.top-blogers h2.header {
  margin: 50px 0;
  text-align: center; }
.top-blogers .bloger {
  display: flex; }
.top-blogers .photo {
  margin: 0 20px 40px 0;
  width: 125px;
  height: 125px; }
.top-blogers .header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px; }

.latest-posts .post-header,
.best-posts .post-header {
  font-weight: 700;
  line-height: 24px;
  margin-top: 0; }
.latest-posts .text,
.best-posts .text {
  margin: 0; }
.latest-posts .author,
.best-posts .author {
  padding: 21px;
  display: flex;
  justify-content: space-between; }
.latest-posts .photo,
.best-posts .photo {
  margin-right: 10px; }
.latest-posts .show,
.best-posts .show {
  align-self: flex-end; }
.latest-posts .contact,
.best-posts .contact {
  display: flex; }
.latest-posts .name,
.best-posts .name {
  font-weight: 700; }

.latest-posts .header {
  margin: 50px 0;
  text-align: center;
  font-size: 18px; }
.latest-posts .wrapper {
  display: flex;
  justify-content: space-around; }
.latest-posts .post {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  width: 260px;
  height: 420px; }
.latest-posts .line {
  width: 260px;
  height: 1px;
  background-color: #bbb; }
.latest-posts .text-content {
  padding: 12px 21px 21px; }

.best-posts .header {
  margin: 50px 0;
  text-align: center;
  font-size: 18px; }
.best-posts .card {
  width: 820px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 25px; }
.best-posts .author {
  padding-left: 0;
  padding: 10px 0; }
.best-posts address {
  margin-bottom: 0; }
.best-posts .line {
  width: 100%;
  height: 1px;
  background-color: #bbb; }
.best-posts .post-header,
.best-posts .text,
.best-posts .author {
  margin-left: 21px; }
.best-posts .post-header {
  margin-top: 10px;
  margin-bottom: 0px; }
.best-posts .media {
  width: 260px;
  height: 100%; }
.best-posts .text-content {
  width: 560px; }
.best-posts .text {
  margin-bottom: 12px;
  max-height: 42px;
  overflow: hidden; }
.best-posts .show {
  margin-right: 15px; }

/*# sourceMappingURL=style.css.map */
